* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.container {
  outline: 1px solid black;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.section-text {
  position: relative;
  font-size: 5rem;
  z-index: 100;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 200;
}

.section-text span {
  color: rgb(24, 99, 165);
  opacity: 0;
  transition: opacity 1.5s linear;
}

.imgWrap {
  position: absolute;
  transform: scale(1);
  transition: transform 1s ease-in-out;

  width: 100%;
  height: 100%;
  opacity: 1;
  inset: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* section:hover .imgWrap {
  transform: scale(1.2);
  z-index: 111;
} */

section.current .imgWrap {
  transform: scale(1.2);
  z-index: 111;
}

section:hover .section-text span {
  opacity: 1;
}

/* 
.stack-cards {
}

.stack-cards__item {
} */

/* section {
  outline: 1px solid red;
}

img {
  outline: 1px solid blue;
} */

section {
  color: #fff;
  height: 100vh;
  z-index: 111;
}

section:nth-child(1) {
  background-color: #99e2b4;
  color: #333333;
}
section:nth-child(2) {
  background-color: #88d4ab;
  /* color: #fff; */
}
section:nth-child(3) {
  background-color: #78c6a3;
  /* color: #fff; */
}
section:nth-child(4) {
  background-color: #67b99a;
  /* color: #fff; */
}
section:nth-child(5) {
  background-color: #56ab91;
  /* color: #fff; */
}
section:nth-child(6) {
  background-color: #469d89;
  /* color: #fff; */
}
section:nth-child(7) {
  background-color: #358f80;
  /* color: #fff; */
}
section:nth-child(8) {
  background-color: #248277;
  /* color: #fff; */
}
section:nth-child(9) {
  background-color: #14746f;
  /* color: #fff; */
}
section:nth-child(10) {
  background-color: #036666;
  /* color: #fff; */
}
section:nth-child(11) {
  background-color: #036666;
  /* color: #fff; */
}

section:nth-child(12) {
  background-color: #036666;
  /* color: #fff; */
}

.footerText {
  position: relative;
  text-align: center;
  color: wheat;
  font-size: 3rem;
  z-index: 3333;
  bottom: 2rem;
}

#canvas {
  position: fixed;
  inset: 0;
  /* background-color: black; */
  /* z-index: 0; */
  width: 100%;
  height: 100%;
}
