* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: #036666;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.container {
  /* outline: 1px solid black; */
  max-width: 900px;
  min-width: 340px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;

  user-select: none;
  padding: 5rem 0;
}

.section-text {
  /* display: block; */
  position: relative;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 1rem;

  position: relative;
  display: inline-block;
  padding: 8px 14px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  color: #ffffff;
  border-radius: 6px;
}

.section-text {
}
.section-text span {
  color: #fff;
}

.section-text .additional-text {
  display: block;

  color: rgb(136, 181, 141);
  opacity: 0;
  transition: opacity 1.5s linear;
}

.imgWrap {
  position: absolute;
  transform: scale(1);
  transition: transform 1s ease-in-out;

  width: 100%;
  height: 100%;
  opacity: 1;
  inset: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.current .imgWrap {
  transform: scale(1.2);
  z-index: 111;
}

section.current .additional-text {
  opacity: 1;
}

section:hover .section-text span {
  opacity: 1;
}

section {
  color: #fff;

  height: 70vh;
  z-index: 111;

  @media screen and (min-width: 440px) {
    height: 100vh;
  }
}

section:nth-child(1) {
  background-color: #99e2b4;
  /* color: #333333; */
}
section:nth-child(2) {
  background-color: #88d4ab;
}
section:nth-child(3) {
  background-color: #78c6a3;
}
section:nth-child(4) {
  background-color: #67b99a;
}
section:nth-child(4) img {
  object-position: 70% top;
}
section:nth-child(5) {
  background-color: #56ab91;
}
section:nth-child(5) img {
  object-position: right top;
}
section:nth-child(6) {
  background-color: #469d89;
}
section:nth-child(7) {
  background-color: #358f80;
  /* color: #f2eee7; */
}

section:nth-child(7) z {
  opacity: 0.8;
}

section:nth-child(8) {
  background-color: #248277;
}
section:nth-child(9) {
  background-color: #14746f;
}
section:nth-child(10) {
  background-color: #036666;
}
section:nth-child(11) {
  background-color: #036666;
}

section:nth-child(12) {
  background-color: #036666;
}

section:nth-child(12) img {
  object-position: right top;
}

.footerText {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: wheat;
  font-size: 1.5rem;
  z-index: 3333;
  bottom: 2rem;
}

#canvas1 {
  position: fixed;
  inset: 0;
  /* background-color: black; */
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#stars_sprite {
  display: none;
}
